.layout {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #f2f3f5;
  .right {
    position: relative;
    flex: auto;
    transition: 0.5s ease all;
  }
  .rightClose {
    width: calc(100vh - 85px);
  }
  .rightOpen {
    width: calc(100vh - 208px);
  }
  .scroll {
    overflow: auto;
    overflow-x: scroll;
    margin: 20px 0;
    padding: 0 16px 16px;
    width: 100%;
    height: calc(100vh - 85px);
    .content {
      min-width: 820px;
      width: 100%;
    }
  }
}
